.row
  .box.brd.m-r4
    .ttl Math
    .lbl 007
    .sub(x='zata/a_basicMath.js') words
    .sub(x='texts/basicMath/007.js') texts 007
  .box.brd.m-r4
    .lbl DATA
    .lbl(x='zata/a_words.js') words
  .box.brd.m-r4
    .lbl TEXT
    .lbl(x='texts/words.js') words
  .box.brd.m-r4
    .lbl SRC
    .lbl Head
    .sub(x='zrc/app-ahead.js') head
    .sub(x='zrc/app-foot.js') foot
    .lbl(x='zrc/game-board.js') game-board
  .box.brd.m-r4
    .ttl(x='@zoo/project.json5') Zoo
    .lbl(x='@zoo/app.pug') app.pug
