.row
  .box.brd.m-r4
    .ttl Math
    .lbl 007
    .sub(x='zata/basicMath/a_basicMath_007.js') words
    .sub(x='texts/basicMath/007.js') texts
  .box.brd.m-r4
    .ttl Atom
    .sub(x='zata/a_atom.js') words
    .sub(x='texts/atom.js') texts
  .box.brd.m-r4
    .ttl Lodash
    .sub(x='zata/a_lodash.js') words    
    br
    .sub(x='texts/lodash/top.js') top
    br
    .sub(x='texts/lodash/function.js') function
  .box.brd.m-r4
    .lbl DATA
    .lbl(x='zata/a_words.js') words
  .box.brd.m-r4
    .lbl TEXT
    .lbl(x='texts/words.js') words
  .box.brd.m-r4
    .lbl SRC
    .lbl Head
    .sub(x='zrc/app-ahead.js') head
    .sub(x='zrc/app-foot.js') foot
    .lbl(x='zrc/game-board.js') game-board
  .box.brd.m-r4
    .ttl(x='@zoo/project.json5') Zoo
    .lbl(x='@zoo/app.pug') app.pug
